@model Final_project.Models.ProductDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!-- product-details -->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="~/assets/images/shop/@Model.ImageUrl" alt="@Model.Name" />
                            <h3>ZOOM</h3>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a href="#"><img src="~/assets/images/product-details/similar1.jpg" alt=""></a>
                                    <a href="#"><img src="~/assets/images/product-details/similar2.jpg" alt=""></a>
                                    <a href="#"><img src="~/assets/images/product-details/similar3.jpg" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="~/assets/images/product-details/similar1.jpg" alt=""></a>
                                    <a href="#"><img src="~/assets/images/product-details/similar2.jpg" alt=""></a>
                                    <a href="#"><img src="~/assets/images/product-details/similar3.jpg" alt=""></a>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-7">
                        <div class="product-information">
                            <!-- product-information -->
                            <img src="~/assets/images/product-details/new.jpg" class="newarrival" alt="">
                            <h2>@Model.Name</h2>
                            <p>Web ID: 1089772</p>
                            <img src="images/product-details/rating.png" alt="" />
                            <span>
                                <span> @String.Format("{0:C}", Model.Price)</span>
                                <div class="quantity-cart-container">
                                    <label>Quantity:</label>
                                    <input type="text" id="quantityInput" value="1" />
                                    <a href="javascript:void(0);" class="btn btn-default add-to-cart" data-product-id="@Model.ProductId">
                                        <i class="fa fa-shopping-cart"></i> Add to cart
                                    </a>
                                </div>
                            </span>
                            <p><b>Availability:</b> @Model.StockQuantity</p>
                            <p><b>Condition:</b> New</p>
                            <p><b>Brand:</b> E-SHOPPER</p>
                            <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
                        </div>
                    </div>
                </div>

                <!-- Review Section -->
                <div class="category-tab shop-details-tab">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li><a href="#details" data-toggle="tab">Details</a></li>
                            <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="details">
                            <div class="col-sm-12">
                                <p>Product detailed description goes here.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade active in" id="reviews">
                            <div class="review-section">
                                <h2>Product Reviews</h2>

                                <!-- Existing Reviews List -->
                                <div class="review-list">
                                    @if (Model.Reviews.Any())
                                    {
                                        foreach (var review in Model.Reviews)
                                        {
                                            <div class="review-item">
                                                @if (review.UserAvatar != null)
                                                {<img src="@review.UserAvatar" alt="User Avatar" />}
                                                else
                                                {
                                                    <img src="https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg" alt="Default Avatar" class="avatar-img" />
                                                }
                                            <div class="review-content">
                                                <strong>@review.UserName</strong> <small>- @(review.CreatedAt.HasValue ? review.CreatedAt.Value.ToString("yyyy-MM-dd") : "N/A")</small>

                                                <div class="star-rating-display">
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        <span class="star @(i <= review.Rating ? "selected" : "")">★</span>
                                                    }
                                                </div>
                                                <p>@review.Content</p>
                                            </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <p>There are no reviews yet. Be the first to review!</p>
                                    }
                                </div>

                                <!-- Review Form -->
                                <div class="review-form">
                                    <h3>Write Your Review</h3>
                                    <form id="reviewForm">
                                        <input type="hidden" name="ProductId" value="@Model.ProductId" />
                                        <label for="comment">Your Review:</label>
                                        <textarea id="comment" name="Content" rows="4" placeholder="Write your review here..." required></textarea>

                                        <label>Rating:</label>
                                        <div class="star-rating">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                <span class="star" data-value="@i" onclick="setRating(@i)">★</span>
                                            }
                                        </div>
                                        <input type="hidden" id="rating" name="Rating" value="0" />

                                        <button type="submit">Submit Review</button>
                                    </form>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <!-- Recommended Items -->
                <div class="recommended_items">
                    <h2 class="title text-center">Recommended Items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="~/assets/images/home/recommend1.jpg" alt="" />
                                                <h2>$56</h2>
                                                <p>Easy Polo Black Edition</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="~/assets/images/home/recommend2.jpg" alt="" />
                                                <h2>$56</h2>
                                                <p>Easy Polo Black Edition</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="~/assets/images/home/recommend3.jpg" alt="" />
                                                <h2>$56</h2>
                                                <p>Easy Polo Black Edition</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
